In [1]:
# import the important libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score,\
classification_report,confusion_matrix,roc_auc_score,roc_curve,multilabel_confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [2]:
# read the csv file

data=pd.read_csv('train.csv')
data.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.46538,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.46538,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.46538,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.46538,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.46538,High_spent_Medium_value_payments,341.489231,Good

In [3]:
# information about a DataFrame

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int64
 1   Customer_ID               100000 non-null  int64
 2   Month                     100000 non-null  int64
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  float64
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  float64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float64
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(18), int64(3), object(7)
memory usage: 21.4+ MB

In [4]:
data=data.drop(['ID','Customer_ID','Month','Name','Age','SSN','Occupation','Type_of_Loan'
                  ,'Changed_Credit_Limit','Num_Credit_Inquiries','Credit_Utilization_Ratio'
                  ,'Payment_of_Min_Amount','Total_EMI_per_month','Amount_invested_monthly'
                  ,'Amount_invested_monthly','Payment_Behaviour'],axis=1)

In [5]:
data.head()

,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Outstanding_Debt,Credit_History_Age,Monthly_Balance,Credit_Score
0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,Good,809.98,265.0,312.494089,Good
1,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,4.0,Good,809.98,266.0,284.629162,Good
2,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,Good,809.98,267.0,331.209863,Good
3,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,Good,809.98,268.0,223.451310,Good
4,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,Good,809.98,269.0,341.489231,Good

In [6]:
# check any null value is present or not

data.isna().sum()

Annual_Income             0
Monthly_Inhand_Salary     0
Num_Bank_Accounts         0
Num_Credit_Card           0
Interest_Rate             0
Num_of_Loan               0
Delay_from_due_date       0
Num_of_Delayed_Payment    0
Credit_Mix                0
Outstanding_Debt          0
Credit_History_Age        0
Monthly_Balance           0
Credit_Score              0
dtype: int64

In [7]:
data['Credit_Score'].unique()

array(['Good', 'Standard', 'Poor'], dtype=object)

In [8]:
data['Credit_Score'].value_counts()

Standard    53174
Poor        28998
Good        17828
Name: Credit_Score, dtype: int64

In [10]:
data['Credit_Mix'].unique()

array(['Good', 'Standard', 'Bad'], dtype=object)

In [11]:
data['Credit_Mix'].replace({'Good':3, 'Standard':1, 'Bad':0},inplace=True)

In [12]:
x=data.drop('Credit_Score',axis=1)
y=data.Credit_Score
print(x.shape,y.shape)

(100000, 12) (100000,)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Annual_Income           100000 non-null  float64
 1   Monthly_Inhand_Salary   100000 non-null  float64
 2   Num_Bank_Accounts       100000 non-null  float64
 3   Num_Credit_Card         100000 non-null  float64
 4   Interest_Rate           100000 non-null  float64
 5   Num_of_Loan             100000 non-null  float64
 6   Delay_from_due_date     100000 non-null  float64
 7   Num_of_Delayed_Payment  100000 non-null  float64
 8   Credit_Mix              100000 non-null  int64
 9   Outstanding_Debt        100000 non-null  float64
 10  Credit_History_Age      100000 non-null  float64
 11  Monthly_Balance         100000 non-null  float64
 12  Credit_Score            100000 non-null  object
dtypes: float64(11), int64(1), object(1)
memory usage: 9.9+ MB

In [14]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.33, random_state=42)

In [15]:
log_reg=LogisticRegression()

In [16]:
log_reg.fit(x_train, y_train)

LogisticRegression()

In [17]:
y_pred=log_reg.predict(x_test)
y_pred

array(['Standard', 'Poor', 'Standard', ..., 'Standard', 'Standard',
       'Standard'], dtype=object)

In [18]:
log_reg.predict([[19114.12,1824.843333,2,2,9,2,12,3,3,250,200,310]])

array(['Standard'], dtype=object)

In [19]:
cnf_matrix = confusion_matrix(y_test,y_pred)
cnf_matrix

array([[  295,   117,  5454],
       [   54,  3272,  6307],
       [  356,  2749, 14396]], dtype=int64)

In [20]:
accuracy_score(y_test,y_pred)

0.5443333333333333

In Logistic regression accuracy score is not good so we try another algrithm

In [21]:
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier()

In [22]:
test_score= model.score(x_test,y_test)
train_score=model.score(x_train,y_train)
print('test score is ',test_score,'train score is ',train_score)

test score is  0.8071212121212121 train score is  0.999955223880597

In [23]:
model.predict([[19114.12,1824.843333,2,2,9,2,12,3,3,250,200,310]])

array(['Good'], dtype=object)